
body{
    background-color: rgb(247, 242, 235);
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
.navbar-nav .nav-item {
  margin-right: 10px; /* Adjust the spacing between each item */
}
@media (min-width: 768px) {
  .hide-large-screen {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    font-size: 40px; /* Font size for small screens */
  }
}
.btn-close{
    display: block;
}
@media (min-width: 768px) {
  .btn-close {
    display: none; /* Hide the close button */
  }
}

.Downloads{
    background-color: rgb(104, 170, 104);
    color: black;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid black;
}
/* @media (max-width: 768px) {
  .Downloads {
    font-size: 7px;
  }
} */

.Downloads:hover {
    background-color: black;
    color: white;
}
.navbar-toggler{
    border: none;
    
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    position: relative;
    
}
/* .nav-link:hover, .nav-link.active{
    color: #000;

} */
@media (min-width :991px){
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    visibility: hidden;
    background-color: rgb(104, 170, 104);
    transition: 0.3s ease-in;
}
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}
}
.background{
background-image: url(images/woman\ hug.png);
height: 750px;
border-radius: 20px;
position: relative;
background-size: cover;



}
@media (max-width: 768px) {
  .background {
    background-position: center top;
    
  }
}
.a{
    font-size: 80px;
    font-weight:20px;
    color: white;
    position: absolute;
    left: 90px;
    top: 130px;
}
.a1{
    font-size: 80px;
    font-weight:20px;
    color: white;
    position: absolute;
    left: 90px;
    top: 210px;
}
@media screen and (max-width: 768px) {
.a{
  font-size: 50px; /* Adjusted font size for small screens */
  text-align: center;
  top: 300px ;
  left: 20px ;
}
}
@media screen and (max-width: 768px) {
.a1{
  font-size: 50px; /* Adjusted font size for small screens */
  text-align: center;
  top: 350px ;
  left: 20px ;
}
}
.b{
    font-size: 20px;
    font-weight: 20px;
    color: white;
    position: absolute;
    left: 90px;
    top: 330px;
}
@media screen and (max-width: 768px) {
.b{
  font-size: 15px; /* Adjusted font size for small screens */
  top: 425px ;
  left: 20px ;
}
}
.c{
    background-color: rgb(104, 170, 104);
    color: black;
    font-size: 18px;
    padding: 8px 50px ;
    border-radius: 50px;
    text-decoration: none;
    position: absolute;
    left: 90px;
    top: 500px; 
}
@media screen and (max-width: 768px) {
  .c{
    left: 20px;
    top:530px ;
    
  }
}
.Good{
  position: absolute;
  right: 30px;
  top: 70px;
  width:500px;
  
}
 @media screen and (max-width: 768px) {
  .Good{
    width: 300px;
    top: 200px;
  }
}
.love{
  position: absolute;
  right: 20px;
  top: 95px;
  width:500px;
  
}
@media screen and (max-width: 768px) {
  .love{
    width: 300px;
    top: 210px;
  }
} 
.coffee{
  position: absolute;
  right: 70px;
  top: 110px;
  
  
}
@media screen and (max-width: 768px) {
.coffee {
  top: 220px;
  right:20px ;
  
}
}
.voice{
position: absolute;
  right: 50px;
  top: 230px;
  width:500px;

}
@media screen and (max-width: 768px) {
.voice,.crying,.emoji1,.wait {
  display: none;
}
}
.crying{
position: absolute;
  right: 50px;
  top: 310px;
  width:500px;
  
}
.emoji1{
position: absolute;
  right: 50px;
  top: 570px;
  width:500px;
  
}
.wait{
position: absolute;
  right: 50px;
  top: 630px;
  width:500px;
}

/* :nth-child(2).animated{
  display: block;
} */
.animated .Good{
  animation: animate 1.1s  1 forwards;
opacity: 0;
}
.animated .love{
  animation: animate 1.2s  1 forwards;
opacity: 0;
}
.animated .coffee{
  animation: animate 1s  1.3s 1 forwards;
opacity: 0;
}
.animated .voice{
  animation: animate 1s  2.5s 1 forwards;
opacity: 0;
}
.animated .crying{
  animation: animate 1s  3s 1 forwards;
opacity: 0;
}

.animated .emoji1{
opacity: 0;
animation: animate 1s  3s 1 forwards;
}

.animated .wait{
opacity: 0;
animation: animate 1s  3.5s 1 forwards;
}

@keyframes animate{
  from{
    opacity: 0;
    transform: translate(0, 100px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}
.data{
  font-size: 13px;
  margin-left:72%;
}
@media screen and (max-width: 768px) {
 .data{
 margin-left: 30px;
}
}
.chat1,.chat2{
width: 100%;
margin-top: 100px;
}
@media screen and (max-width: 768px) {
.chat1,.chat2 {
  width: 700px;
  margin-top: 40px;
  margin-left: 35px;
  display: none;
}
}
@media screen and (min-width:991px) {
.small,.small2{
display: none;
}
}
@media screen and (max-width:768px) {
.small,.small2{
width: 65%;
margin-left: 50px;
margin-top: 20px;
}
}
.text{
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 48px;
Font-weight: 400;
Line-height: 48px;
margin-top: 40px;
margin-left: 200px;

}
@media screen and (max-width: 768px) {
.text {
  font-size: 18px;
  line-height:18px;
  margin-top:40px;
  margin-left: 20px;
}
}
.text1{ 
 font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 60px;
Font-weight: 400px                                        ;
line-height: 55px;
margin-top:200px;
}
.text2,.text7{
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 400px;

}
@media screen and (max-width: 768px) {
.text1 {
  font-size: 30px;
  margin-top: 20px;
  line-height: 30px;
  
}
}
@media screen and (max-width: 768px) {
.text2,.text7 {
  font-size:15px;
}
}
.img1{
margin-top: 40px;
margin-left: 100px;

}
.all{
margin-left: 100px;
}
@media screen and (max-width: 768px) {
.all {
  margin-left:0px;
}
}
@media screen and (max-width: 768px) {
.img1 {
  margin-left:30px;
}
}
.learn{
color: black;
}
.learn:hover{
color: green;
}
.learn1{
    color: white;
    text-decoration: none;
}
.learn1:hover{
    color: green;
    }

.text3{
font-size: 60px;
color: white;
font-weight: bold;
/* margin-top: 300px; */
}
.text4{
font-size: 60px;
color:rgb(14, 82, 14);
font-weight: bold;
line-height: 20px;
}
.container1{
background-color: #111b21;
height: 750px;
width: 100%;
/* display: flex; */
/* flex-direction: column; */
}

.img2{
margin-left: 100px;
margin-top: 100px;
width: 80%;
/* display: flex;
flex-direction: column; */
}
@media screen and (max-width: 768px) {
.img2{
  width: 70%;
  margin-left:50px;
  margin-top: 50px;
}
}

.text5{
color: white;
font-size: 18px;
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
overflow-x: hidden;
}
@media screen and (max-width: 768px) {
.text5{
  font-size: 15px;
  margin-left: 10px;
}
}
.alltext{
margin-top: 250px;
}
@media screen and (max-width: 768px) {
.alltext{
  margin-top: 0px;
  /* overflow-x: hidden; */
  
}
}
@media screen and (max-width: 768px) {
.text3,.text4{
  font-size: 30px;
  margin-left: 10px;
  
}
}
.wallpaper{
position: relative;
margin-top: 100px;
}
@media screen and (max-width: 768px) {
.wallpaper{
margin-left: 30px;
}
}
.family{
position: absolute;
top: 550%; 
}
@media screen and (max-width: 768px) {
.family{
top: 505%; 
}
}
.text6{
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 60px;
Font-weight: 400px                                        ;
line-height: 55px;
margin-top:200px;
}
@media screen and (max-width: 768px) {
.text6{
margin-top: 100px;
font-size: 40px;
}
}
.laugh{
position: relative;

}
@media screen and (max-width: 768px) {
.laugh{
margin-top: 100px;
left: -55px;
}
}
.beach{
position: absolute;
top: 660%;
left:200px;
}
@media screen and (max-width: 768px) {
.beach{
  top: 630%;
  left:25px; 
  width: 400px;   
}
}
.text8{
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 60px;
Font-weight: 400px                                        ;
line-height: 55px;
margin-top:200px;
}
@media screen and (max-width: 768px) {
.text8{
 margin-top: 50px;

}
}
.transform{
font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 60px;
Font-weight: 400px                                        ;
line-height: 55px;
margin-top:200px;
}
@media screen and (max-width: 768px) {
.transform,.say{
 font-size: 35px;
 margin-top: 80px;
 line-height: 30px;
}
}

.last{
    background-color: rgb(104, 170, 104);
    color: black;
    font-size: 18px;
    padding: 8px 50px ;
    border-radius: 50px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .last{
     margin-left: -100px;
    }
    }



